body, p, img {
  border: 0;
  margin: 0;
  padding: 0; }

/* F5F4EB; */
body, p, img, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 18px;
  color: #797971;
  line-height: 1.5em;
  background: #FFFFFF;
  background-image: url("../images/header_gradient.png");
  background-repeat: repeat-x;
  /* background: none repeat scroll 0 0 $background ; */
  width: 625px; }
  body a {
    color: #43739e; }
  body a:visited {
    color: #0077f0; }
  body a:hover {
    color: #7777f0; }
  body .notice {
    font-size: 14px; }
  body .port {
    width: 26em;
    float: left;
    margin-top: 0.1em;
    margin-left: 0.1em; }
  body .starboard {
    margin-right: 0.1em;
    margin-top: 0.1em;
    float: right;
    width: 8em; }
    body .starboard .log {
      padding-left: 4px;
      line-height: 1em;
      border-left: 3px solid #cdccc3;
      border-bottom: #cdccc3 3px solid;
      border-top: #EdEdEd 2px solid;
      background: #eee;
      padding-bottom: 1em;
      font-size: 0.77em; }
      body .starboard .log p {
        padding: 1px; }
      body .starboard .log .story {
        display: none; }
      body .starboard .log .date {
        font-size: 0.9em; }
      body .starboard .log img {
        width: 7em; }
  body .header {
    background: #888782;
    color: #F2F0E4;
    min-height: 2em;
    margin-bottom: 1em;
    clear: both; }
    body .header ul {
      list-style-type: none;
      margin: 0;
      padding-left: 1em; }
      body .header ul li {
        float: left;
        margin: 0.2em;
        color: #7777f0; }
        body .header ul li a {
          color: #f2f0e4;
          text-decoration: underline;
          padding: 2px; }
  body h1, body h2, body h3, body h4 {
    /* margin:0em; */
    /* padding:0em; */ }
  body h1 {
    font-size: 1.6667em; }
  body h4 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #cdccc3; }
  body h1 {
    color: #5D5D57;
    font-weight: 401; }
  body label {
    margin-left: 1px;
    font-size: 14px;
    font-variant: small-caps; }
  body .log a {
    font-size: 1em;
    display: inline;
    padding: 0;
    display: inline;
    margin: 0;
    color: #43739e;
    text-decoration: none; }
  body .log a.edit {
    color: #43739e;
    float: right; }
  body .log .date {
    font-size: 1em; }
  body .log label {
    display: block;
    margin-left: 2px;
    background: #eeeeee;
    font-variant: small-caps; }
  body .log textarea {
    width: 99%; }
  body .log input {
    width: 98%; }
  body .log input[type=submit] {
    margin-right: 4px;
    width: 99%; }
  body .enter_as label {
    font-size: 14px; }
  body form {
    position: relative;
    background: #eeeeee; }
    body form .input {
      font-size: 14px;
      margin: 0.1em;
      padding: 0.2em;
      clear: both; }
      body form .input label {
        margin-left: 1px;
        background: #eeeeee;
        font-size: 14px;
        font-variant: small-caps; }
        body form .input label strong {
          text-decoration: underline; }
      body form .input input {
        float: right;
        margin-left: 2em;
        font-size: 1.4em;
        clear: both; }
      body form .input input[type=checkbox] {
        font-size: 1.2em; }
  body #sign_in form, body #sign_up form {
    width: 25em; }
  body .cc_license {
    height: 6em;
    height: 100%; }
  body .cc a span {
    display: block;
    font-size: -1em; }
  body .enter_as {
    margin-left: 2em; }
  body input[type=submit] {
    margin-top: 10px;
    font-size: 1.2em;
    clear: both;
    display: block; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
