.header
  %ul
    - if current_steward
      %li=link_to('my Stewardship',logs_path)
      %li=link_to('new journal entry',new_log_path)
      %li=link_to('sign out',destroy_steward_session_path)
    - else
      %li=link_to('HOME',root_path)
    %li=feedback_link

.feedback.hidden
  = render :partial => 'feedback/new'
.notice
  = notice
.alert
  = alert
.title
  = yield :title

