%meta{ :property=>"fb:admins", :content=>"100000094364933" }
%meta{ :property=>"og:type", :content=>"article" }
%meta{ :property=>"og:site_name", :content=>"hayesvalleyfarm" }
%meta{ :property=>"og:title", :content=>"#{@log.title || @log.story.split('.')}" }
%meta{ :property=>"og:url", :content=>"#{request.url}" }
%meta{ :property=>"og:image", :content=>"http://www.hayesvalleyfarm.com/images/stories/hvf_logo_bg_small.png" }