%meta{ :property=>"fb:admins", :content=>"100000094364933" }
%meta{ :property=>"og:type", :content=>"article" }
%meta{ :property=>"og:site_name", :content=>"hayesvalleyfarm" }
%meta{ :property=>"og:title", :content=>"#{og_title(@log)}" }
%meta{ :property=>"og:description", :content=>"#{og_description(@log)}"}
%meta{ :property=>"og:url", :content=>"#{request.url}" }
%meta{ :property=>"og:image", :content=>"#{og_image_url(@log)}" }