%h3
  %span(style="font-size: 1.4em;")
    %strong NEIGHBORHOOD GARDEN JOURNAL
-# I need a bit more space between the title and the image, I need to accomplish this with CSS
%p
  %img(style="margin-right: 10px; float: left;" 
  alt="Breakfast Garden Starter Kit" 
  src="/images/bgs_kit.jpg" 
  width="300")
  The Biodiversity Stewards at Hayes Valley Farm want your garden to succeed!
%p
  The <strong>Neighborhood Garden Journal</strong> is a way for you to share your pictures, tell your stories, and ask questions. Start your journal today!
%p
  Any questions?<strong>&nbsp; <a target="_blank" href="/component/contact/12-website-contacts/14-biodiversity-stewards.html">Contact us</a> or just stop by the farm.
-# I need a bit more space between the end of this text and the beginning of the following element.
