$font: Nelvetica Neue, Helvetica, Arial;
body {
  width:36.3em;
  .port{
    width:26em;
    border-right:1px solid #ddd;
    float:left;
    margin-left: 0.5em;
    margin-top: 0.1em;
  }
  .starboard {
    margin-right: 0.3em;
    margin-top: 0.1em;
    float:right;
    width:9em;
    border-right:1px solid #ddd;
    .log {
      border-bottom:#181818 3px solid;
      border-top:#EdEdEd 2px solid;
      background:#eee;
      img {
        width:9em;
      }
    }
  }
	.header {
    background:#888888;
    color:#EEE;
    min-height:2em;
		ul {
			list-style-type:none;
			li {
				float:right;
				margin:0.2em;
			}
		}
	  clear:both;
	}
	h1,h2,h3,h4 {margin:0em;padding:0em;}
	h1 {
 		font-size: 3em;
 		border-bottom: 1em solid #EEE;
	}
	h4 {
 		font-size: 1.5em;
 		border-bottom: 1px solid #EEE;
	}
	.email, .password,.remember_me, .cc_license,.submit{
		margin:0.1em;
		width:25em;
    background:#ddd;
    height:4em;
    padding: 0.2em;
		label {
      background:#ddd;
      font-size:1.3em;
		}
		input {
			float:right;
			margin-left:2em;
			font-size:1.1em;
		}
		input[type=submit] {
			font-size:2em;
		}
		input[type=checkbox] {
      font-size:1.2em;
			float:right;
			margin-left:6em;
		}
		clear:both;
	}

  .cc_license {
    height:6em;
  }

	.enter_as{
		margin-left:2em;
	}

	input[type=submit] {
		clear:both;
		float:right;
		display:block;
		font-size:1em;
	}
 font-family: $font;
 color: #181818;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

