body,p,img {border:0;margin:0;padding:0;}
$font: Helvetica Neue, Helvetica, Arial;

$fontsize: 18px;
$color:#797971;
$background:#FFFFFF; /* F5F4EB; */
$linecolor:#CDCCC3;
$headerbackground:#888782;
$labelsize: 14px;
$subtextsize: 1em;

$sidebar_text_link_size:0.67em;

$link_on_dark:#F2F0E4;
$link_on_light:#43739E;
$bodywidth:625px;
$portwidth:26em;
$starboardwidth:8em;
body,p,img,h1,h2,h3,h4 {
  margin:0;
  padding:0;
  border:0;
}
body {
  font-family: $font;
	font-size: $fontsize;
	color: $color;
  line-height:1.5em;
  background: #FFFFFF;
  background-image: url('../images/header_gradient.png');
  background-repeat: repeat-x;
  /* background: none repeat scroll 0 0 $background ; */
  width:$bodywidth;
  a {
    color:$link_on_light;
  }
  a:visited {
    color: #0077f0;
  }
  a:hover {
    color: #7777f0;
  }
  .notice {
    font-size:$labelsize;
  }
  .port{
    width:$portwidth;
    float:left;
    margin-top: 0.1em;
    margin-left: 0.1em;
  }
  .starboard {
    margin-right: 0.1em;
    margin-top: 0.1em;
    float:right;
    width:$starboardwidth;
    .log {
      padding-left:4px;
      line-height:1em;
      border-left:3px solid $linecolor;
      border-bottom:$linecolor 3px solid;
      border-top:#EdEdEd 2px solid;
      background:#eee;
      padding-bottom:1em;
      font-size:$sidebar_text_link_size;
      .name a {
      }
      a.edit {
      }
      p {
        padding:1px;
      }
      .story {
        display:none;
      }
      .date {
        font-size:$subtextsize - 0.1em;
      }
      img {
        width:$starboardwidth - 1em;
      }
    }
  }
	.header {
    background:$headerbackground;
    color:#F2F0E4;
    min-height:2em;
    margin-bottom:1em;
		ul {
			list-style-type:none;
      margin:0;
      padding-left:1em;
			li {
				float:left;
				margin:0.2em;
        color: #7777f0;
        a {
          color: $link_on_dark;
          text-decoration: underline;
          padding:2px;
        }
			}
		}
	  clear:both;
	}
	h1,h2,h3,h4 {
    /* margin:0em; */
    /* padding:0em; */
  }
	h1 {
 		font-size: 1.6667em;
	}
	h4 {
 		font-size: 1em;
    font-weight:bold;
 		border-bottom: 1px solid $linecolor;
	}

  h1 {
    color: #5D5D57;
    font-weight: 401;
  }
    label {
        margin-left:1px;
        font-size:$labelsize;
        font-variant:small-caps;
    }
  .log {
    a {
      font-size:$subtextsize;
      display:inline;
      padding:0;
      display:inline;
      margin:0;
      color: $link_on_light;
      text-decoration:none;
    }
    a.edit {
      color: $link_on_light;
      float:right;
    }
    .date {
      font-size:$subtextsize;
    }
    label {
        display:block;
        margin-left:2px;
        background:$background - #111;
        font-variant:small-caps;
    }
  
		textarea {
      width:99%;
    }
    input {
      width:98%;
		}
      input[type=submit] {
        margin-right:4px;
        width:99%;
      }
  }
  .enter_as label {
    font-size:$labelsize;
  }
  form {
    position:relative;
    background:$background - #111;
    .input {
      font-size:$labelsize;
      margin:0.1em;
      padding: 0.2em;
      label {
        margin-left:1px;
        background:$background - #111;
        font-size:$labelsize;
        font-variant:small-caps;
        strong {
          text-decoration:underline;
        }
      }
      input {
        float:right;
        margin-left:2em;
        font-size:1.4em;
	  	  clear:both;
      }
      input[type=checkbox] {
        font-size:1.2em;
      }
      clear:both;
    }

  }
  #sign_in form,#sign_up form {
		width:25em;
  }
  .cc_license {
    height:6em;
    height:100%;
  }

  .cc a span{
    display:block;
    font-size:$subtextsize - 2;
  }

	.enter_as{
		margin-left:2em;
	}

	input[type=submit] {
    margin-top:10px;
    font-size:1.2em;
		clear:both;
		display:block;
	}
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

